# Part 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_fwf('input.txt', widths=[1,1,1,1,1,1,1,1,1,1,1,1], names=["bit0", "bit1", "bit2", "bit3", "bit4", "bit5", "bit6", "bit7", "bit8", "bit9", "bit10", "bit11"])
df

     bit0  bit1  bit2  bit3  bit4  bit5  bit6  bit7  bit8  bit9  bit10  bit11
0       1     1     0     0     0     1     0     1     0     1      1      1
1       0     1     1     0     1     1     1     1     0     0      1      0
2       1     1     0     0     1     1     1     1     0     0      1      1
3       1     0     1     0     0     0     0     1     0     1      1      1
4       0     1     1     1     0     1     1     0     0     1      0      0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...    ...
995     0     1     1     0     1     0     1     0     0     0      0      0
996     1     1     0     1     0     0     1     1     0     1      1      1
997     1     0     1     1     0     1     0     0     0     1      0      0
998     0     0     1     1     1     0     0     0     1     1      0      1
999     1     1     1     0     0     1     1     0     1     1      1      1

[1000 rows x 12 columns]

In [3]:
gammaBinary = ''.join(list(map(lambda num: str(num * 1), df.mean() > 0.5)))
gamma = int(gammaBinary, 2)

In [4]:
epsilonBinary = ''.join(list(map(lambda num: str(num * 1), df.mean() < 0.5)))
epsilon = int(epsilonBinary, 2)

In [5]:
gamma*epsilon

2583164

# Part 2

In [6]:
def filterOxygen(df, pos):
    if df.shape[0] == 1:
        return df
    
    if df.mean(0)[pos] >= 0.5:
        bit = 1
    else:
        bit = 0
    
    dfFilter = df[ df.iloc[:,pos] == bit ]
    
    return filterOxygen(dfFilter, pos + 1)

In [7]:
oxygenBinary = ''.join(map(str, filterOxygen(df, 0).iloc[0, :].values.tolist()))
oxygen = int(oxygenBinary, 2)

In [8]:
def filterCO2(df, pos):
    if df.shape[0] == 1:
        return df
    
    if df.mean(0)[pos] >= 0.5:
        bit = 0
    else:
        bit = 1
    
    dfFilter = df[ df.iloc[:,pos] == bit ]
    
    return filterCO2(dfFilter, pos + 1)

In [9]:
co2Binary = ''.join(map(str, filterCO2(df, 0).iloc[0, :].values.tolist()))
co2 = int(co2Binary, 2)

In [10]:
oxygen*co2

2784375